html, body{
	margin: 0px;
    height:100%;
    width: 100%;
}

body{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nahual-container img{
    max-width: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#nahual-container *{
    -webkit-box-sizing: none;
    -moz-box-sizing: none;
    box-sizing: none;
}

#nahual-container p{
    margin: 0px;
}

@media(orientation:portrait){
    .dy-act-overlay{
        background:transparent !important;
    }

    .dy-lb-close{
        top: 0px !important;
        right: 0px !important;
    }

    #contmail{
        width: 26%;
    }

    #fieldemail{
        width: 64%;
    }

    .formfields{
        font-size: small;
    }
}

@media(orientation:landscape){
    .dy-act-overlay{
        background:transparent !important;
    }

    #contmail{
        width: 20%;
    }

    #fieldemail{
        width: 65%;
    }

    .formfields{
        font-size: medium;
    }
}

#dy-act-overlay{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
}

#maincontnahual{
        position:relative;
        min-height: 480px;
        min-width: 320px;
        max-width: 500px;
        max-height: 827px;
        /*display: table;*/
        /*top:50%;*/
}

.movewheel {
    position: absolute;
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    -webkit-animation: topRotateTo 2s ease-in-out forwards;
    -moz-animation: topRotateTo 2s ease-in-out forwards;
     animation: topRotateTo 2s ease-in-out forwards;
}

.rmovewheel{
    position: absolute;
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    -webkit-animation: botRotateTo 2s ease-in-out forwards;
    -moz-animation: botRotateTo 2s ease-in-out forwards;
     animation: botRotateTo 2s ease-in-out forwards;
}

@keyframes glowing{
    0% {box-shadow: 0px 0px 0px #58a31b;}
    100% {box-shadow: 0px 0px 100px #77e21f;}
}

@-webkit-keyframes glowing{
    0% {-webkit-box-shadow: 0px 0px 0px #58a31b;}
    100% {-webkit-box-shadow: 0px 0px 100px #77e21f;}
}

@-moz-keyframes glowing{
    0% {box-shadow: 0px 0px 0px #58a31b;}
    100% {box-shadow: 0px 0px 100px #77e21f;}
}

.glow{
    -webkit-animation: glowing 2s linear infinite alternate;
    -moz-animation: glowing 2s linear infinite alternate;
     animation: glowing 2s linear infinite alternate;
}

@keyframes fadeout{
    0% { opacity: 1}
    100%{ opacity: 0}
}

@-webkit-keyframes fadeout{
    0% { -webkit-opacity: 1}
    100%{ -webkit-opacity: 0}
}

@-moz-keyframes fadeout{
    0% { opacity: 1}
    100%{ opacity: 0}
}

#blackoverlay{
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 15;
}

.bgload{
    pointer-events: none;
    -webkit-animation: fadeout 2s ease-out forwards;
    -moz-animation: fadeout 2s ease-out forwards;
    animation: fadeout 2s ease-out forwards;
}

.bgunload{
    opacity: 1;
}

@keyframes fadein{
    0% { opacity: 0}
    100%{ opacity: 1}
}

@-webkit-keyframes fadein{
    0% { -webkit-opacity: 0}
    100%{ -webkit-opacity: 1}
}

@-moz-keyframes fadein{
    0% { opacity: 0}
    100%{ opacity: 1}
}

.zodload{
    pointer-events: none;
    -webkit-animation: fadein 3s ease-out forwards;
    -moz-animation: fadein 3s ease-out forwards;
    animation: fadein 3s ease-out forwards;
}

#background-gear{
    position:absolute;
    background-image:url(https://2380ie25r0n01w5tt7mvyi81-wpengine.netdna-ssl.com/wp-content/themes/flatsome/img/bg-gear.png);
    background-size:cover;
    width:50% !important;
    height:100% !important;
}

@keyframes cantR{
    0%, 50%, 100% { transform: rotate(0deg)}
    15%, 45%, 75% { transform: rotate(5deg)}
    30%, 60%, 90% { transform: rotate(-5deg)}
}

@-webkit-keyframes cantR{
    0%, 50%, 100% { -webkit-transform: rotate(0deg)}
    15%, 45%, 75% { -webkit-transform: rotate(5deg)}
    30%, 60%, 90% { -webkit-transform: rotate(-5deg)}
}

@-moz-keyframes cantR{
    0%, 50%, 100% { -moz-transform: rotate(0deg)}
    15%, 45%, 75% { -moz-transform: rotate(5deg)}
    30%, 60%, 90% { -moz-transform: rotate(-5deg)}
}

.cantRotate{
    position: absolute;
    /*-ms-transform-origin: 50% 50%;*/ /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    /*-ms-animation: cantR 1s linear  forwards;*/
    -webkit-animation: cantR 1s linear forwards;
    -moz-animation: cantR 1s linear forwards;
     animation: cantR 1s linear forwards;
}

#nahual-container{
    position: relative;
    background-color:#88F3DE;
    overflow:hidden;
    width:100%;
    height:100%;
    min-height:480px;
    min-width:320px;
	display: block;
}

#game-border{
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    pointer-events: none;
    max-width: 600px;
}

#datpic{
    padding: 0px !important;
    margin: 0px !important;

    position:absolute;
    z-index:6;
    background: transparent;
    background-image:url(https://2380ie25r0n01w5tt7mvyi81-wpengine.netdna-ssl.com/wp-content/themes/flatsome/img/texto_central.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;
    text-align: center;
    font-size: large;
}

#inputoverlay{
    position:absolute;
    z-index:10;
}

#fbinputoverlay{
    position:absolute;
    z-index:20;
    width:100%;
    height:100%;
}

#fbcalendar_container{
    min-width: 175px;
    position:absolute;
    z-index:15;
}

#gender_txt1, #gender_txt2{
    text-align: center;
}

#gender_txt1{
    color: #e3841d;
}

#gendeR_txt2{
    color: #9f6526;
}

/*FORM*/
#formoverlay{
    display:block;
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://2380ie25r0n01w5tt7mvyi81-wpengine.netdna-ssl.com/wp-content/themes/flatsome/img/bgresult.jpg);
    background-repeat: repeat-y;
    background-size: 100% 50%;
    z-index: 12;
}

.form_animEnter{
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -moz-transform-origin: 0% 0%; /* Mozilla */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;

    -ms-animation: formEnter 1s ease-out  forwards;
    -webkit-animation: formEnter 1s ease-out forwards;
    -moz-animation: formEnter 1s ease-out forwards;
     animation: formEnter 1s ease-out forwards;
}

.errorfield{
    border: 3px solid #bb2211 !important;
}

#contmail{
    display: table;
    float: left;
}

#fieldemail{
    position: relative;
    display: inline-block;
    height: 35px;
    border:none;
    text-align: center;
    font-size: small;
}

#text_help{
    padding-left:2%;
    padding-right:2%;
}

.formfields{
    position:relative;
    width:100%;
    height:3em;
    margin-right: 8px;
    align-content: center;
    float:left;
    text-align: left;
}

.container-form-element{
    position: relative;
    display: inline-block;
    width: 70%;
	margin-top:5%;
    margin-bottom:2%;
}

#regform{
    display: none;
}

#allinputs{
    width: 100%;
    position:relative;
    display:table;
	text-align: center;
	z-index: 1;
	position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    user-select: none;
    margin-top:-40px;
    top:15px;
}

.container-form-element i{
    display: inline-table;
    margin: 0 auto !important;
    font-size: 3em;
    right:0%;
    position: relative;
}

#contmail{
    display: table;
    float: left;
    width: 26%;
}

#arrowmail{
    position:relative;
    float:left;
}

#borderedcont{
    position:absolute;
    /*border: 3px solid #9f6526;
    box-sizing: content-box;*/
}

#res-nahual-img{
    position:relative;
    display: table;
    margin: 0 auto;
    width:30%;
    margin-bottom:5%;
    margin-top:-5%;
}

#form-bot-container{
    margin-top:4%;
}

#res-nahual-name{
    margin-left: 7.5%;
}

#nahual-form{
    width: 100%;
    display: none;
    padding-top:5%;
    padding-bottom:5%;
}

#form-result-message{
    display: none;
    position: relative;
    color: #9f6526;
    padding-left: 2%;
    text-align: justify;
    padding-right: 2%;
    opacity: 0;
}

#nahual-complete-form{
    display: block !important;
    position: relative;
    width: 100%;
}

.fcontainer{
    background-color: rgba(210, 191, 174, 0.45);
}

#btnrasparsend{
  width: 111px !important;
  position:absolute;
  color: white;
  font-size: x-large;
	background-color:transparent;
  /*background-image: url('../images/parte3/boton_ES.png');*/
	background-size: 100% 100%;
	border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
	right: -58%;
	top: -15%;
	cursor: pointer;
}

#t1, #t3, #t12{
   text-align: center;
    /*word-break: break-all;*/
    color: #9f6526
}

#t2, #t22{
     text-align: center;
    /*word-break: normal;*/
    color: #e3841d;
}

.arrow_box {
    display: inline-block;
    padding: 8px;
	background: #e3841d;
    z-index: 14;
    color: white;
    margin-right: 35px;
    left:0%;
    font-size: 0.95em !important;
}

.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(227, 132, 29, 0);
	border-left-color: #e3841d;
	border-width: 30px;
	margin-top: -30px;
}

/* FORM END*/
#calendar_container{
    position:absolute;
    z-index:5;
}

#calcont{
    z-index:5;
}

#swheel{
	position:absolute;
    display:block;
}

#bwheel{
	position:absolute;
}

#center-top{
	position:absolute;
	z-index:2;
}

#center-bottom{
	position:absolute;
	z-index:2;
}

#start-btn{
    position:absolute;
    z-index:3;
}

#start-btn:hover{
    position:absolute;
    z-index:3;
}

#zodiac{
    pointer-events: none;
    position:absolute;
    z-index: 5;
    opacity: 0;
}

#zodiac h1{
    pointer-events: none;
    position: absolute;
    font-family: arial;
    font-size: medium;
    top: 0px;
}

#zdimg{
    position: relative;
    pointer-events: none;
    width:100%;
    height:100%;
}


#e1-r1l, #e1-r2l, #e1-r3l,
#e2-r1l, #e2-r2l, #e2-r3l,
#e3-r1l, #e3-r2l, #e3-r3l,
#e1-r1r, #e1-r2r, #e1-r3r,
#e2-r1r, #e2-r2r, #e2-r3r,
#e3-r1r, #e3-r2r, #e3-r3r{
    width: 5%;
    height: 5%;
}
